.header {
    background-color: #242039;
    width: 100%;
    font-family: monospace;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.logo{
    padding: 2px 0;
}
.logo h1{
    font-size: 2rem;
}
.nav-icon {
    display: none;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header nav ul > li a {
    font-size: 1.5em;
}

.header nav ul > li {
    transition: all ease-in-out 0.2s;
    border-bottom: solid 2px transparent;
    padding-top: 2px;
}

.header nav ul > li:hover {
    border-bottom: solid 2px white;
}

@media (max-width: 768px) {
    .header nav {
        display: none;
    }

    .icon-menu {
        display: block;
        z-index: 5;
        position: relative;
        width: 40px;
        height: 25px;
        cursor: pointer;
        align-self: center;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }

    .icon-menu > {
        background-color: white;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .icon-menu._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .icon-menu._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .icon-menu._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
