@font-face {
    font-family: "San Fraincisco";
    src: url(../../public/fonts/SF-Pro-Text-Medium.otf);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #242039;
}
.nav-title {
    text-align: center;
}
main {
    display: flex;
    min-height: 80%;
    font-family: "San Fraincisco";
}
.navigation {
    width: 30%;
    background-color: darkgray;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
}
