a,
a:visited {
    color: white;
    text-decoration: none;
}

.App {
    background-color: #181e2c;
    width: 100%;
    height: 100dvh;
}

.header {
    background-color: #171717;
    width: 100%;
    font-family: monospace;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.nav-icon{
    display: none;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header nav ul > li a {
    font-size: 1.4em;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #171717;
}
.nav-title {
    text-align: center;
}
main {
    display: flex;
    min-height: 80%;
}

.posts-container {
    color: white;
    width: 100%;
    background-color: #181e2c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post {
    background-color: gray;
    min-height: 50px;
    width: 100%;
    padding: 10px;
}
.navigation {
    width: 30%;
    background-color: darkgray;
}
.post-title {
}
.post-creator {
    display: flex;
    gap: 10px;
}
.post-author {
}
.post-createdAt {
}
.post-content {
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .header nav{
        display: none;
    }
    
    .icon-menu {
        display: block;
        z-index: 5;
        position: relative;
        width: 40px;
        height: 25px;
        cursor: pointer;
        align-self: center;
    }

    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: white;
    }

    .icon-menu> {
        background-color: white;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .icon-menu._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .icon-menu._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .icon-menu._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
